	/*
	================================================
	CSS Zen Garden theme 
	================================================
	Handcrafted by yilian zhang
	
	Last updated on 09/2020
	================================================
	01	Color
	02	Typography
	03	Layout
	04	Other decoration
  05  Media Queries
	================================================
	*/

	/* ---------------------------------------------------------------------------------------------------------- 
	01 Color ----------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------------- */
html{
  background-color: hsla(210, 50%, 60%,0.8);
  padding: 5%;
}

body{
  background-color: hsla(5, 50%, 50%,0.9);
  color: hsla(0, 0%, 0%, 1.0);
}

header h1{
  background-color: hsla(0,100%, 63%, 0.9);
}

div.preamble, div.requirements, div.benefits{
  color: hsla(0, 0%, 0%, 1.0);
  background-color: hsla(5,80%, 65%, 1.0);
}

footer{
  background-color: hsla(5, 50%, 30%, 1.0)
}


div.participation{
  background-color: hsla(5,80%, 65%, 1.0)
}


aside.sidebar{
  background-color: hsla(0,100%, 63%, 0.9)
}

/** 02 Typography -- Font  **/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

div.summary{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

body{
  font-family: 'Lato', sans-serif;
}
p{
  font-size: 1.25em;
}

h3{
  font-size:2.25em; font-weight: 200; letter-spacing: 1px;
  line-height: 1em; padding: 0.5em 0 0.25em 0;
}

a{
  text-decoration: none;
  color:blueviolet
}

h1{
  text-indent: -999px;
}

/** 03 Position, Size, layout **/
div,
article,
section,
header,
footer,
nav,
figure,
li{
  position: relative;
}

aside.sidebar{
  position: absolute;
  top: 3%;
  right: 0;
  width: 27%;
}

section.intro{
  width: 60.7%;
  padding: 5%;
}

section.intro.div.preamble{
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
}

div.page-wrapper{
  padding: 5%;
  z-index: 2;
}

div.extra1{
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 600px;
  background-color: hsla(210, 50%, 60%,0.5);
  z-index: 1;
}

div.explanation{
  float: left;
  width: 40%;
  padding: 5%;
}
div.participation{
  margin-left: 50%;
}

div.benefits{
  float: left;
  width: 30%;
  padding: 5%;
}
/** 04  Other decoration -- background Links **/ 



/**	05	Media  **/
header>h1{
  background-image: url(../img/zengarden.gif);
}